<footer>
    <div class="footer">
    <ul>
        <li>Grupetto®️ 2021 all rights reserved </li> <br>
        
    <a id="smbuttons" class="btn btn-sm btn-default" href="https://www.instagram.com/?hl=es" target="blank" role="button"><img src="../assets/imagenes/InstagramLogo.png" alt="" width="20" height="20"> Instagram</a>
    <a id="smbuttons" class="btn btn-sm btn-default" href="https://www.facebook.com/" target="blank" role="button"><img src="../assets/imagenes/FacebookLogo.png" alt="" width="20" height="20"> Facebook</a>         
    <a id="smbuttons" class="btn btn-sm btn-default" href="https://twitter.com/?lang=es" target="blank" role="button"><img src="../assets/imagenes/twitter-logo.png" alt="" width="20" height="20"> Twitter</a>
    <a id="DescargaApp" class="btn btn-sm btn-default" href="https://play.google.com/store/apps?hl=es_AR&gl=US" target="blank" role="button"><img src="../assets/imagenes/PlayStoreLogo.png" alt="" width="20" height="20"> <b> DOWNLOAD FROM STORE</b></a>
  
    </ul>
    
    </div>
  </footer>
  