<div class="logo">
  <p style="text-align: center;">Grupetto is an application with the aim of facilitating social gatherings for riding a bike</p>
</div>

<div class="loguearse">
  
<img class="loguearse" src="../assets/imagenes/logoSinNombre.png" alt="">
      
</div>

<div class="container">
  <h2 id="ciclista"> <iframe src="https://giphy.com/embed/l0HluULNylbTu44Ao" width="240" height="135" frameBorder="0" class="giphy-embed" ></iframe></h2>
</div>
<div class="container">
  <h2>THE BEST ROUTES FOR PEDELING</h2>
  <p id="rutas">On the Wikiloc page you will be able to find different outdoor routes to travel with your bike: </p>
  <a href="https://es.wikiloc.com/rutas/ciclismo/argentina/provincia-de-buenos-aires" target="blank"> <h3>Routes in Buenos Aires</h3> </a>
  <a href="https://es.wikiloc.com/rutas/mountain-bike/argentina/cordoba" target="blank"> <h3>Routes in Córdoba</h3> </a>
  <a href="https://es.wikiloc.com/rutas/outdoor/argentina/santa-fe" target="blank"> <h3>Routes in Santa Fé</h3> </a> 
  <a href="https://es.wikiloc.com/rutas/outdoor/argentina" target="blank"> <h3>Routes in the rest of the country</h3> </a>
</div>

<footer>
  <div class="footer">
  <ul>
      <li>Grupetto®️ 2021 all rights reserved </li> <br>
      
  <a id="smbuttons" class="btn btn-sm btn-default" href="https://www.instagram.com/?hl=es" target="blank" role="button"><img src="../assets/imagenes/InstagramLogo.png" alt="" width="20" height="20"> Instagram</a>
  <a id="smbuttons" class="btn btn-sm btn-default" href="https://www.facebook.com/" target="blank" role="button"><img src="../assets/imagenes/FacebookLogo.png" alt="" width="20" height="20"> Facebook</a>         
  <a id="smbuttons" class="btn btn-sm btn-default" href="https://twitter.com/?lang=es" target="blank" role="button"><img src="../assets/imagenes/twitter-logo.png" alt="" width="20" height="20"> Twitter</a>
  <a id="DescargaApp" class="btn btn-sm btn-default" href="https://play.google.com/store/apps?hl=es_AR&gl=US" target="blank" role="button"><img src="../assets/imagenes/PlayStoreLogo.png" alt="" width="20" height="20"> <b> DOWNLOAD FROM STORE</b></a>

  </ul>
  
  </div>

</footer>
