<div class="logo">
  <p style="text-align: center;">Grupetto es una aplicacion con el objetivo de facilitar los encuentros sociales para andar en bici</p>
</div>

<div class="loguearse">
  
  
      
</div>

<div class="container">
  <h2 id="ciclista"> <iframe src="https://giphy.com/embed/l0HluULNylbTu44Ao" width="240" height="135" frameBorder="0" class="giphy-embed" ></iframe></h2>
</div>
<div class="container">
  <h2>LAS MEJORES RUTAS PARA PEDALEAR</h2>
  <p id="rutas">En la pagina de Wikiloc vas a poder encontrar diferentes rutas al aire libre para recorrer con tu bici: </p>
  <a href="https://es.wikiloc.com/rutas/ciclismo/argentina/provincia-de-buenos-aires" target="blank"> <h3>Rutas en Buenos Aires</h3> </a>
  <a href="https://es.wikiloc.com/rutas/mountain-bike/argentina/cordoba" target="blank"> <h3>Rutas en Córdoba</h3> </a>
  <a href="https://es.wikiloc.com/rutas/outdoor/argentina/santa-fe" target="blank"> <h3>Rutas en Santa Fé</h3> </a> 
  <a href="https://es.wikiloc.com/rutas/outdoor/argentina" target="blank"> <h3>Rutas en el resto del país</h3> </a>
</div>


