<div class="textoo">
    <h2>
      Grupetto is an application with the aim of facilitating social gatherings for riding a bike <br>
      In this page you will find the best routes for biking and have the oportunity to conect with <br> 
      other cyclists to organize group rides. Soon we are going to inagurate our e-commerce.<br> 
      <br>
    </h2>
  </div>
  
  <div class="loguearse"> 
  <img class="loguearse" src="../assets/imagenes/logoSinNombre.png" alt="">   
  </div>
  
  
  <!-- <div class="container">
    <h2 id="ciclista"> <iframe src="https://giphy.com/embed/l0HluULNylbTu44Ao" width="240" height="135" frameBorder="0" class="giphy-embed" ></iframe></h2>
  </div> -->
  
  <div class="container">
    <br>
    <h2>THE BEST ROUTES FOR PEDELING</h2>
    <p id="rutas">On the Wikiloc page you will be able to find different outdoor routes to travel with your bike: </p>
    <a href="https://es.wikiloc.com/rutas/ciclismo/argentina/provincia-de-buenos-aires" target="blank"> <h3>Routes in Buenos Aires</h3> </a>
    <a href="https://es.wikiloc.com/rutas/mountain-bike/argentina/cordoba" target="blank"> <h3>Routes in Córdoba</h3> </a>
    <a href="https://es.wikiloc.com/rutas/outdoor/argentina/santa-fe" target="blank"> <h3>Routes in Santa Fé</h3> </a> 
    <a href="https://es.wikiloc.com/rutas/outdoor/argentina" target="blank"> <h3>Routes in the rest of the country</h3> </a>
  
    <br>
  
    <h6 style="text-align: center;">Some functions of the website are incomplete, we are working on them, sorry for any inconvenience that may be caused</h6>
  </div>
  
  <div class="mantenimiento">
    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQBnvy27Pb6-x_L7v6DsTaSiuh88qS1bwaOkqYi-eWiehKfdq8dRnu667B_arC0g0gQo0Y&usqp=CAU" alt="">
  
  </div>

  