



body{
  background-color: #b6c2f5;
}



.loguearse{

    display: flex;
    justify-content: center;
    align-items: center;
    height: 25vh;

}
.mainLogin{
  margin-left: 1%;
  
}
.mantenimiento{

    display: flex;
    justify-content: center;
    align-items: center;
    
}


